<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header class="cabecera">
        <h1>
            Fran Master
        </h1>
        <ul >
            <li><a href="#"><i class="fas fa-rocket"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-rocket"></i>About</a></li>
            <li><a href="#"><i class="fas fa-id-card"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-rocket"></i>Login</a></li>
        </ul>
    </header>
    <main>
        <section>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Nmn_RC-Obfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <section>
            <article>
                <h1>Pikachu</h1>
                <div>
                    <p>
                        Una ratita amarilla aparentemente inmortal.
                    </p>
                    <img src="https://avatars.githubusercontent.com/u/46872462?s=400&u=e345098c099d916374026ea88616e7e0b5b48d9c&v=4" >
                </div>
            </article>

            <article>
                <h1>Tentacruel</h1>
                <div>
                    <p>
                        Un Pulpo Azul aparentemente inmortal.
                    </p>
                    <img src="./img/73.png" >
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p>
            2021
        </p>
    </footer>
</body>
</html>